/* CSS file */
/* background attributes */
body{
    background-image: url(assets/background.jpg);
    margin: 30px;
}

/* about me page image att */
#aboutme {
    max-height: 200px;
    width: auto;
    margin-right: 10px;
    float: left;
}

/* bio background color */
p {
    background-color: lightgrey;
    margin: 10px lightgrey;
}

/* page title att */
h1 {
    margin: 10px;
    text-align: center;
}

/* secondary title att */
h2 {
    margin: 10px;
    text-align: center;
}

/* container styling att */
.my-container {
    background-color: gray;
    padding-bottom: 10px;
}

/* row styling att */
.my-row { 
    margin-top: 10px;
    margin-bottom: 10px;
}

/* column styling att */
.my-col {
    border: 1px solid grey;
}

/* link background color */
.linksList {
    background-color: lightgrey;
}