/* CSS file */

body{
    background-image: url(assets/background.jpg);
    margin: 30px;
}

.backdrop {
    background-color: gray;
    padding: 10px;
}

#aboutme {
    background-color:red;
    max-height: 200px;
    width: auto;
    margin-right: 10px;
    float: left;
    padding-left: 10px;
}

p {
    background-color: aqua;
}

h1 {
    margin: 10px;
}

.my-container {
    background-color: gray;
    padding-bottom: 10px;
}

.my-row { 
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-col {
    border: 1px solid grey;
}
